<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draw Polygon</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="static/Leaflet.draw/src/Leaflet.draw.js"></script>
    <script src="static/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="static/Leaflet.draw/src/leaflet.draw.css"/>

    <script src="static/Leaflet.draw/src/Toolbar.js"></script>
    <script src="static/Leaflet.draw/src/Tooltip.js"></script>

    <script src="static/Leaflet.draw/src/ext/GeometryUtil.js"></script>
    <script src="static/Leaflet.draw/src/ext/LatLngUtil.js"></script>
    <script src="static/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
    <script src="static/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
    <script src="static/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
    <script src="static/Leaflet.draw/src/ext/TouchEvents.js"></script>

    <script src="static/Leaflet.draw/src/draw/DrawToolbar.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="static/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>


    <script src="static/Leaflet.draw/src/edit/EditToolbar.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="static/Leaflet.draw/src/Control.Draw.js"></script>

    <script src="static/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js"></script>
    <script src="static/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>


    <link rel="stylesheet" href="static/sidebar-v2/css/leaflet-sidebar.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="static/js/bundle.js"></script>

</head>

<style media="screen">
html, body {
height: 100%;
font: 13pt "Helvetica Neue", Arial, Helvetica, sans-serif;

}
#map {
height: 100%;
}

</style>

<style>#map { height: 100%;}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>
<body>
  <script src="static/sidebar-v2/js/leaflet-sidebar.js"></script>

  <div id="sidebar" class="sidebar collapsed">
      <!-- Nav tabs -->
      <div class="sidebar-tabs">
          <ul role="tablist">
              <li><a href="/inicio" role="tab" target="_blank"><i class="fa fa-home fa-fw"></i> Home</a></li>
              
              <li><a href="#lineamientos" role="tab"><i class="fa fa-photo"></i></a></li>

              <li><a href="https://github.com/serranoycandela/yucAgebs" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
          <ul role="tablist">
              <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
          </ul>
      </div>

      <!-- Tab panes -->
      <div class="sidebar-content">

          <div class="sidebar-pane" id="lineamientos">
              <h1 class="sidebar-header">Consulta por polígono<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
              	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
          </div>
          
      </div>
  </div>
  
  <div id="map" class="sidebar-map"></div>

  <script>
  
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });

  // $(document).ready(function() {

  //   const $valueSpan = $('.valueSpan');
  //   const $value = $('#slider11');
  //   $valueSpan.html($value.val());
  //   $value.on('input change', () => {

  //     $valueSpan.html($value.val());
  //   });
  // });
  </script>

<script type="text/javascript">


  // center of the map
  var center = [20.9787,-89.6253];

  // Create the map
  var map = L.map('map').setView(center, 11);

  // Set up the OSM layer
  L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
      maxZoom: 18
    }).addTo(map);
  // Initialise the FeatureGroup to store editable layers
  var editableLayers = new L.FeatureGroup();
  map.addLayer(editableLayers);

  var drawPluginOptions = {
    position: 'topright',
    draw: {
      polygon: {
        allowIntersection: false, // Restricts shapes to simple polygons
        drawError: {
          color: '#e1e100', // Color the shape will turn when intersects
          message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
        },
        shapeOptions: {
          color: '#9c2200'
        }
      },
      // disable toolbar item by setting it to false
      polyline: false,
      circle: false, // Turns off this drawing tool
      rectangle: false,
      marker: false,
      circlemarker: false,
      }
  };

  // Initialise the draw control and pass it the FeatureGroup of editable layers
  var drawControl = new L.Control.Draw(drawPluginOptions);
  map.addControl(drawControl);

  var editableLayers = new L.FeatureGroup();
  map.addLayer(editableLayers);

  var info = L.control();
      
      
  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };
  info.update = function (props) {
    		this._div.innerHTML = '<h4>Información de UGA</h4>' +  (props ?
    			'<b>' +'Clave de UGA: '+'</b>' +  props.clave_uga  +'<br> <b>Área: </b>'+ props.area+' m<sup>2</sup><br>'+
          '<b>Área de intersección: </b>'+ props.area_interseccion+ ' m<sup>2</sup><br>'+
          '<b>Porcentaje de intersección: </b>'+props.porcentaje_interseccion + ' %<br>'
    			: 'Coloque el cursor sobre la UGA');
    	};
  info.addTo(map);

  function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 5,
      color: '#666',
      dashArray: '',
      fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }

    info.update(layer.feature.properties);
  }


  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

  
  
  map.on('draw:created', function(e) {
    
    layer = e.layer;
    map.eachLayer(function(l) {
      if (l instanceof L.Polygon){
        map.removeLayer(l);
      } 
    });
    
    editableLayers.addLayer(layer);
    var geojson= layer.toGeoJSON()
    var js_data = JSON.stringify({'type': 'Polygon','coordinates': geojson.geometry.coordinates});
    console.log(js_data);
    var url = "http://127.0.0.1:4000/fomix/api/v0.1/interseccion/" + encodeURIComponent(js_data);
    console.log(url);

    const uri = url;
    const initDetails = {
        method: 'get',
        headers: {
            "Content-Type": "application/json; charset=utf-8"
        },
        mode: "cors"
    }
    // Cargamos el GeoJSON del servicio REST
    $.getJSON(url, function(data) {
        function resetHighlight(e) {
          geojson.resetStyle(e.target);
          info.update();
        }
        function onEachFeature(feature, layer) {
          layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
          });
        }
        // L.geoJson function is used to parse geojson file and load on to map

        var geojson= L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);

        var geoObject = JSON.parse(JSON.stringify(data));


        var limite = Number(geoObject.features.length);

        var html_interseccion = "<br>Al polígono le aplican las siguientes UGAS<br>";
        for (var i = 0; i < limite; i ++) {
          html_interseccion += "<br><b>Clave UGA: </b>"+ geoObject.features[i].properties.clave_uga;
          html_interseccion += "<br><b>Área de intersección: </b>"+ geoObject.features[i].properties.area;
          html_interseccion += "<br><b>Lineamientos: </b>"+geoObject.features[i].properties.lineamiento_uga+"<br>";
        }
        document.getElementById('myDiv').innerHTML=html_interseccion;

    });

  });


  var sidebar = L.control.sidebar('sidebar', {position: 'left'}).addTo(map);
  sidebar.open("lineamientos");
  </script>


</body>
